body {
    background-color: white;
}
#wrapper {
    width: 800px;
    height: 500px;
}
#wrapper h1{
    font-family:'Times New Roman', Times, serif;
}
#map {
    height: 400px;
    width: 200px;
    float: left;
}
#notes {
    height: 400px;
    width: 600px;
    float: right;
}